@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

.App {
  text-align: center;
}

.form {
  font-family: 'Kalam';
}

.recipes-container {
  display: flex;
  justify-content: center;
}



